[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Flutter Examples with State Management.
[access "refs/*"]
	owner = group user/João Victor Pessoa (jvpessoa10)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/João Victor Pessoa (jvpessoa10)
	label-Verified = -1..+1 group user/João Victor Pessoa (jvpessoa10)
	push = group user/João Victor Pessoa (jvpessoa10)
	read = group user/João Victor Pessoa (jvpessoa10)
	rebase = group user/João Victor Pessoa (jvpessoa10)
	removeReviewer = group user/João Victor Pessoa (jvpessoa10)
	submit = group user/João Victor Pessoa (jvpessoa10)
[access "refs/heads/*"]
	create = group user/João Victor Pessoa (jvpessoa10)
	push = +force group user/João Victor Pessoa (jvpessoa10)
	pushMerge = group user/João Victor Pessoa (jvpessoa10)
	read = group user/João Victor Pessoa (jvpessoa10)
[access "refs/tags/*"]
	push = group user/João Victor Pessoa (jvpessoa10)
	push = +force group user/João Victor Pessoa (jvpessoa10)
